## Welcome to PMTprocessor! You can try to execute the following blocks

### import PMTprocessor

In [6]:
import PMTprocessor

### set the path of your data folder

In [2]:
##This is an example of path, you should replace it with your path
folderpath = "/Users/peikesun/Documents/Year3/project/input"
filepath = "/Users/peikesun/Documents/Year3/project/inputs/values_100002.txt"

### read a single file into a dataframe

In [3]:
PMTprocessor.read_file(filepath)

,qhs_main,qhs_neg,qhs_railed,qhs_second,qhs_third,IDK,high_occ,low_occ
0,-nan,-nan,-nan,-nan,-nan,0,5,5
1,0.991163475699558,0,0.00147275405007364,0.00662739322533137,0.000736377025036819,0,0.000112749105053979,0.000372144109106734
2,0.992464204973625,0,0.000753579502637528,0.00678221552373775,0.000753579502637528,0,0.000140936381317473,0.000363648919576315
3,0.983498349834984,0,0.00132013201320132,0.0158415841584158,0,0,0.000169123657580968,0.000415168133502726
4,0.963395638629283,0,0.00700934579439252,0.029595015576324,0,0,0.000281872762634947,0.000351865269582508
...,...,...,...,...,...,...,...,...
9723,-nan,-nan,-nan,-nan,-nan,0,5,5
9724,-nan,-nan,-nan,-nan,-nan,0,5,5
9725,-nan,-nan,-nan,-nan,-nan,0,5,5
9726,-nan,-nan,-nan,-nan,-nan,0,5,5
9727,-nan\n,-nan\n,-nan\n,-nan\n,-nan\n,0\n,5\n,5\n

### read all files in a folder into a dataframe

In [ ]:
PMTprocessor.read_files(folderpath)

### clean your dataframe

In [ ]:
PMTprocessor.overall_data_clean(folderpath)

### extract the first five rows

In [ ]:
# PMTprocessor.first_five_column(folderpath)
PMTprocessor.relocate_5_columns(folderpath)

### extract the first five rows, and complete the whole range of charge

In [ ]:
PMTprocessor.data_completion(folderpath)

### pie chart using all rows

In [ ]:
PMTprocessor.pie_all_rows(folderpath)

### reproduce the SNO+ preliminary graph

In [ ]:
PMTprocessor.SNOPreliminary(folderpath)

### one-to-one scatter plot

In [ ]:
PMTprocessor.scatter_5_columns(folderpath)

### LPA model, only on qhs_neg and qhs_main

In [4]:
PMTprocessor.LPA_neg_main(folderpath)

       qhs_neg  qhs_main  pred_label
5     0.000230  0.998850           0
21    0.000000  0.996441           0
25    0.334787  0.688469           1
27    0.587713  0.444115           1
28    0.630463  0.407360           1
...        ...       ...         ...
9689  0.000000  0.980488           0
9692  0.000000  0.989437           0
9693  0.000000  0.995646           0
9694  0.000916  0.989011           0
9695  0.000000  0.980892           0

[8638 rows x 3 columns]

### visualize that model (may take some time)

In [ ]:
PMTprocessor.graphLPA_neg_main(folderpath)

### LPA model, using all columns

In [8]:
PMTprocessor.LPAall_v2(folderpath)

AttributeError: module 'PMTprocessor' has no attribute 'LPAall_v2'