## Welcome to PMTprocessor! You can try to execute the following blocks

### import PMTprocessor

In [10]:
import PMTprocessor

### set the path of your data folder

In [11]:
##This is an example of path, you should replace it with your path
folderpath = "/Users/peikesun/Documents/Year3/project/input"
filepath = "/Users/peikesun/Documents/Year3/project/inputs/values_100002.txt"

### read a single file into a dataframe

In [3]:
PMTprocessor.read_file(filepath)

,qhs_main,qhs_neg,qhs_railed,qhs_second,qhs_third,IDK,high_occ,low_occ
0,-nan,-nan,-nan,-nan,-nan,0,5,5
1,0.991163475699558,0,0.00147275405007364,0.00662739322533137,0.000736377025036819,0,0.000112749105053979,0.000372144109106734
2,0.992464204973625,0,0.000753579502637528,0.00678221552373775,0.000753579502637528,0,0.000140936381317473,0.000363648919576315
3,0.983498349834984,0,0.00132013201320132,0.0158415841584158,0,0,0.000169123657580968,0.000415168133502726
4,0.963395638629283,0,0.00700934579439252,0.029595015576324,0,0,0.000281872762634947,0.000351865269582508
...,...,...,...,...,...,...,...,...
9723,-nan,-nan,-nan,-nan,-nan,0,5,5
9724,-nan,-nan,-nan,-nan,-nan,0,5,5
9725,-nan,-nan,-nan,-nan,-nan,0,5,5
9726,-nan,-nan,-nan,-nan,-nan,0,5,5
9727,-nan\n,-nan\n,-nan\n,-nan\n,-nan\n,0\n,5\n,5\n

### read all files in a folder into a dataframe

In [4]:
PMTprocessor.read_files(folderpath)

,qhs_main,qhs_neg,qhs_railed,qhs_second,qhs_third,IDK,high_occ,low_occ
0,-nan,-nan,-nan,-nan,-nan,0,5,5
1,0.991163475699558,0,0.00147275405007364,0.00662739322533137,0.000736377025036819,0,0.000112749105053979,0.000372144109106734
2,0.992464204973625,0,0.000753579502637528,0.00678221552373775,0.000753579502637528,0,0.000140936381317473,0.000363648919576315
3,0.983498349834984,0,0.00132013201320132,0.0158415841584158,0,0,0.000169123657580968,0.000415168133502726
4,0.963395638629283,0,0.00700934579439252,0.029595015576324,0,0,0.000281872762634947,0.000351865269582508
...,...,...,...,...,...,...,...,...
9723,-nan,-nan,-nan,-nan,-nan,0,5,5
9724,-nan,-nan,-nan,-nan,-nan,0,5,5
9725,-nan,-nan,-nan,-nan,-nan,0,5,5
9726,-nan,-nan,-nan,-nan,-nan,0,5,5
9727,-nan\n,-nan\n,-nan\n,-nan\n,-nan\n,0\n,5\n,5\n

### clean your dataframe

In [5]:
PMTprocessor.overall_data_clean(folderpath)

,qhs_main,qhs_neg,qhs_railed,qhs_second,qhs_third,IDK,high_occ,low_occ
1,0.991163,0.000000,0.001473,0.006627,0.000736,0.0,0.000113,0.000372
2,0.992464,0.000000,0.000754,0.006782,0.000754,0.0,0.000141,0.000364
3,0.983498,0.000000,0.001320,0.015842,0.000000,0.0,0.000169,0.000415
4,0.963396,0.000000,0.007009,0.029595,0.000000,0.0,0.000282,0.000352
5,0.998850,0.000230,0.000000,0.000460,0.000460,0.0,0.000338,0.001191
...,...,...,...,...,...,...,...,...
9689,0.980488,0.000000,0.011707,0.007805,0.000000,0.0,0.000169,0.000281
9692,0.989437,0.000000,0.002347,0.007042,0.001174,0.0,0.000085,0.000233
9693,0.995646,0.000000,0.001451,0.002903,0.000000,0.0,0.000085,0.000189
9694,0.989011,0.000916,0.002747,0.006410,0.000916,0.0,0.000225,0.000299
9695,0.980892,0.000000,0.002548,0.016561,0.000000,0.0,0.000254,0.000215

### extract the first five rows

In [ ]:
# PMTprocessor.first_five_column(folderpath)
PMTprocessor.relocate_5_columns(folderpath)

### extract the first five rows, and complete the whole range of charge

In [ ]:
PMTprocessor.data_completion(folderpath)

### pie chart using all rows

In [ ]:
PMTprocessor.pie_all_rows(folderpath)

### reproduce the SNO+ preliminary graph

In [ ]:
PMTprocessor.SNOPreliminary(folderpath)

### one-to-one scatter plot

In [ ]:
PMTprocessor.scatter_5_columns(folderpath)

# lpa model, using two columns each time

### LPA model, only on qhs_neg and qhs_main

In [ ]:
PMTprocessor.LPA_neg_main(folderpath)

### LPA model, only on qhs_second and qhs_main

In [ ]:
PMTprocessor.LPAsecond(folderpath)

### visualize model on qhs_neg and qhs_main (may take some time)

In [ ]:
PMTprocessor.graphLPA_neg_main(folderpath)

### visualize model on qhs_second and qhs_main (may take some time)

In [ ]:
PMTprocessor.second_graphLPA(folderpath)

## integrating the four models together

### output the predicted bad channels

In [12]:
out1 = PMTprocessor.bad_channels(folderpath)
out1

NameError: name 'df_concat' is not defined

### count the bad channels

In [ ]:
PMTprocessor.bad_channels_count(filepath)

### plot of 5 * 5 subplots, visualize the bad channels

In [ ]:
PMTprocessor.plot_LPA_all(filepath)

### LPA model, using all columns

In [ ]:
PMTprocessor.LPAall_v2(folderpath)

### visualize that model (very time consuming)

In [ ]:
PMTprocessor.graphLPA_v2(folderpath)